{% extends 'ErpUserBundle:Profile:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{  asset('/bundles/erpcore/js/jquery.blockUI.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/erpcore/js/upload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/erpproperty/js/contract.controller.js') }}"></script>
    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
{% endblock %}

{% block pageContent %}
    {{ parent() }}
    <style>
        .selectable {padding: 10px 0;background: #eee;text-align: center;border: 1px dashed;margin: 5px auto;cursor: pointer;display: inline-block;width: 33%;}
        div#send-to-tenant { margin: 15px 0 0; }
        .register-form .form-horizontal {margin: 20px 0;}
    </style>
    <div class="container">
        <div class="form-group text-right">
            <a href="{{ path('erp_property_listings_edit_documents', {'propertyId': property.id}) }}" class="btn edit-btn">Back</a>
        </div>
    </div>

    <!-- Contract Form Constructor-->
    <section id="contract-form-constructor" class="register-form rental-form">
        <div class="container">
            <div class="row">
                <div class="title-block col-md-10 col-md-offset-1">
                    <h1 class="bold-text">Manage Online Rental Contract</h1>
                    <h3 class="bold-text">Property: {{ property.name }}</h3>
                </div>
            </div>

            {% include "ErpCoreBundle:crossBlocks:message.html.twig" with {'alert_ok' : 'alert_ok', 'alert_error' : 'alert_error'} %}

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-xs-12">
                                <b><u>How-To sign Rental Contract online:</u></b><br/>
                                1) Manager creates and edits Online Rental Contract using Contract Builder<br/>
                                2) Manager previews final contract as Tenant's web-form or as PDF file<br/>
                                3) Manager enables contract by "Enable Online Contract for this Property" checkbox<br/>
                                4) Link to complete Online Rental Contract appears in Tenant's Documentation area<br/>
                                5) Tenant completes contract form, signs it online and downloads as PDF file<br/>
                                6) Tenant uploads signed PDF contract to Manager's Documentation area<br/>
                                7) Manager reviews the contract and signs it by clicking SIGN button<br/>
                                8) Manager uploads signed PDF contract to Tenant's Documentation area<br/><br/>
                                <b><u>Online Rental Contract Builder Help:</u></b><br/>
                                <b>Warning:</b> this tool is not intended to operate properly on mobile devices, please use only desktop site version for smooth operation.<br/>
                                <b>Markup:</b> To create an input element enter 2 or more underscores: ____ .To create a checkbox enter square brackets: [] .
                                Use only black font and very simple tables. Read default contract carefully and replace or remove text formatted as italic, as it is locality specific.
                                Do not paste text here from other rich editors or webpages to not brake formatting. It's better to type here text manually or copy it from notepad.
                                Regularly preview your contract as online form and as PDF file to see how a result version will look like.<br/><br/>

                                <b>New Shortcodes listed Below:</b> <br/>

                                1. {marked-symbol} => it'll use for display check-mark in online contract form<br/>

                                2. {unmarked-symbol} =>  it'll use for display "X" in online contract form  <br/>

                                3. {date} =>  it'll use for display input date calender in online contract form<br/>

                                4. {number} =>  it'll use to allow enter only number in online contract form<br/>

                                4. {time} =>  it'll use for display input time in online contract form<br/><br/>

                                * Drag & Drop short-codes in active text editor, you can click on below short-codes & drop into enabled edit section<br/>
                                <span id="selectable" class="selectable">[]</span>
                                <span id="selectable1" class="selectable">{marked-symbol}</span>
                                <span id="selectable2" class="selectable">{unmarked-symbol}</span>
                                <span id="selectable3" class="selectable">{date}</span>
                                <span id="selectable4" class="selectable">{number}</span>
                                <span id="selectable5" class="selectable">{time}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" id="send-to-tenant">
                                <input type="checkbox" id="isPublished" name="isPublished"
                                       data-href="{{ path('erp_property_contract_form_publish', {'propertyId':property.id}) }}"
                                       {% if contractForm.isPublished %}checked="checked"{% endif %}>
                                <label for="isPublished">&nbsp;Enable Online Contract for this Property</label>
                                <a href="{{ path('erp_property_listings_edit_documents', {'propertyId': property.id}) }}" class="btn edit-btn pull-right">Back</a>
                            </div>
                        </div>
                        <div class="row">
                            {% if contractForm.contractSections %}
                                {% for contractSection in contractForm.contractSections %}
                                    {% include('ErpPropertyBundle:ContractForm/blocks:section.html.twig') %}
                                {% endfor %}
                            {% endif %}

                        </div>
                        <div class="row">
                            {% include('ErpPropertyBundle:ContractForm/blocks:add-section.html.twig') %}
                        </div>
                        <div class="row">
                            <div class="tenant-info-block add-tenant-block prop-description">
                                {% set tenant = property.getTenantUser() %}
                                {% set invTenant = property.getInvitedUsers()|length ? property.getInvitedUsers()[0] : null %}
                                <div class="tenant-title bold-text">
                                    {% if tenant %}
                                        Online rental contract already sent to below tenant details
                                        <a class="btn-circle-small" role="popup"
                                           href="{{ path('erp_property_listings_delete_tenant', {'propertyId' : property.getId()}) }}">&times;</a>
                                    {% elseif invTenant %}
                                        Online rental contract already sent to below tenant details
                                        <a class="btn-circle-small" role="popup"
                                           href="{{ path('erp_property_listings_delete_invited_tenant', {'propertyId' : property.getId()}) }}">X</a>
                                    {% else %}
                                        Please enter email id for send online rental contract form to specifi tenant
                                    {% endif %}
                                </div>

                                {% if tenant %}
                                    <div class="prop-info">
                                        <span class="prop-label bold-text">Name</span>
                                        <span class="prop-details">{{ tenant.getFirstName() }} {{ tenant.getLastName() }}</span>
                                    </div>
                                    <div class="prop-info">
                                        <span class="prop-label bold-text">Email</span>
                                        <span class="prop-details bold-text"><a class="tenant-email"
                                                                      href="mailto:{{ tenant.email }}">{{ tenant.email }}</a></span>
                                    </div>
                                    <div class="prop-info">
                                        <span class="prop-label bold-text">Tenant Status</span>
                                        <span class="prop-details">{{ tenant.isEnabled ? 'Active' : 'Deactivated' }}</span>
                                    </div>
                                {% elseif invTenant %}
                                    <div class="prop-info">
                                        <span class="prop-label bold-text">Email</span>
                                        <span class="prop-details bold-text"><a class="tenant-email"
                                                                      href="mailto:{{ invTenant.invitedEmail }}">{{ invTenant.invitedEmail }}</a></span>
                                    </div>
                                    <div class="prop-info">
                                        <span class="prop-label bold-text">Tenant Status</span>
                                        <span class="prop-details">Pending</span>
                                    </div>
                                {% else %}
                                    {{ render(controller('ErpPropertyBundle:Property:inviteTenant', {'propertyId' : property.getId() })) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    {% block javascript_inline %}
        <script>
            $('.selectable').click(function() {
                containerid = $(this).attr('id');
                var range;
                if (document.selection) { // IE
                    range = document.body.createTextRange();
                    range.moveToElementText(document.getElementById(containerid));
                    range.select();
                } else if (window.getSelection) {
                    range = document.createRange();
                    range.selectNode(document.getElementById(containerid));
                    window.getSelection().removeAllRanges();
                    window.getSelection().addRange(range);
                }
            });
            $('button#erp_invite_user_form_submit').html('Send to Tenant');

        </script>
    {% endblock %}
{% endblock %}