<div class="tabs-area">
  <ul class="tabset">
    <li>
      <a href="#tab1-0">
        <span class="image-holder">
          <img src="{{ asset('assets/images/erpSite/icon1.svg')}}" alt="image description" class="normal">
          <img src="{{ asset('assets/images/erpSite/icon1-active.svg')}}" alt="image description" class="active">
        </span>
        <span class="text">Landlord</span>
      </a>
    </li>
    <li>
      <a href="#tab2-0">
        <span class="image-holder">
          <img src="{{ asset('assets/images/erpSite/icon2.svg')}}" alt="image description" class="normal">
          <img src="{{ asset('assets/images/erpSite/icon2-active.svg')}}" alt="image description" class="active">
        </span>
        <span class="text">Manager</span>
      </a>
    </li>
    <li>
      <a href="#tab3-0">
        <span class="image-holder">
          <img src="{{ asset('assets/images/erpSite/icon3.svg')}}" alt="image description" class="normal">
          <img src="{{asset('assets/images/erpSite/icon3-active.svg')}}" alt="image description" class="active">
        </span>
        <span class="text">Tenant</span>
      </a>
    </li>
  </ul>

  
  <div class="tab-content">
    <div id="tab1-0">
      <div class="boxes-area">
        <div class="box">
          <div class="image-holder">
            <img src="{{ asset('assets/images/erpSite/icon4.svg')}}" alt="image description">
          </div>
          <div class="text">
            <p>Accept ACH or Credit <br >Card Payments</p>
          </div>
        </div>
        <div class="box">
          <div class="image-holder">
            <img src="{{ asset('assets/images/erpSite/icon5.svg')}}" alt="image description">
          </div>
          <div class="text">
            <p>Run Credit, Eviction, <br >&amp; Criminal Reports</p>
          </div>
        </div>
        <div class="box">
          <div class="image-holder">
            <img src="{{ asset('assets/images/erpSite/icon6.svg')}}" alt="image description">
          </div>
          <div class="text">
            <p>Create &amp; <br>Save Leases</p>
          </div>
        </div>
      </div>
    </div>

    
    <div id="tab2-0">
      <div class="boxes-area">
        <div class="box">
          <div class="image-holder">
            <img src="{{ asset('assets/images/erpSite/accounting.svg')}}" alt="image description">
          </div>
          <div class="text">
            <p>Accounting Ledgers <br>& statements</p>
          </div>
        </div>
        <div class="box">
          <div class="image-holder">
            <img src="{{ asset('assets/images/erpSite/notifications.svg')}}" alt="image description">
          </div>
          <div class="text">
            <p>Notifications &amp; Alerts</p>
          </div>
        </div>
        <div class="box">
          <div class="image-holder">
            <img src="{{ asset('assets/images/erpSite/tax.svg')}}" alt="image description">
          </div>
          <div class="text">
            <p>Taxes 1099k form</p>
          </div>
        </div>
      </div>
    </div>
    <div id="tab3-0">
      <div class="boxes-area">
        <div class="box">
          <div class="image-holder">
            <img src="{{ asset('assets/images/erpSite/nofee.svg')}}" alt="image description">
          </div>
          <div class="text">
            <p>No Monthly Fees or <br>ACH Transaction Fees</p>
          </div>
        </div>
        <div class="box">
          <div class="image-holder">
            <img src="{{ asset('assets/images/erpSite/trackpay.svg')}}" alt="image description">
          </div>
          <div class="text">
            <p>Track Payments & Fees</p>
          </div>
        </div>
        <div class="box">
          <div class="image-holder">
            <img src="{{ asset('assets/images/erpSite/service.svg')}}" alt="image description">
          </div>
          <div class="text">
            <p>Online Service Requests</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>